nextcord
nextcord[voice]
alive-progress
bs4
requests
lxml
dateparser
tortoise-orm
aerich
aiomysql
pytz
#chatterbot
aiohttp
tzdata
aioconsole
git+https://github.com/pmdevita/nextcord-tortoise
aiomultiprocess
numpy
yt_dlp